// Colors
$bg-color: var(--chakra-colors-gray-900);
$dot-color: var(--chakra-colors-gray-600);

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

body {
    background: $bg-color;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.background {
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;
    animation: moveDots 4s linear infinite;
}

@keyframes moveDots {
    from {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    to {
        background-position: 0 0, 0 0, $dot-space $dot-space, $dot-space $dot-space;
    }
}

@keyframes gradientShift {
    0%, 100% {
        background-position: 0% 0%, 100% 100%, 0 0, 0 0;
    }
    50% {
        background-position: 100% 100%, 0% 0%, $dot-space $dot-space, $dot-space $dot-space;
    }
}

@media screen and (max-width: 62em) {
    .external-link-button {
        p {
            display: none;
        }
        .chakra-button__icon {
            margin-right: 0;
        }
    }
}
